body{
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.small-font{
  font-size: 12px;
}
#carousel-1{
  background-image: url("../img/carousel-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.black-trans{
  background-color: rgba(0, 0, 0, 0.5);
}
